.row#finalize-subscription
  .small-10.columns.small-offset-1.centered.finaliz
    %h1 Finalize your subscription
    .small-12.medium-6.columns
      = image_tag 'finalize.jpg'
    .small-12.medium-6.columns.subscribe
      = form_tag @user do
        %article
          %script.stripe-button{src: 'https://checkout.stripe.com/checkout.js', data: { key: Rails.configuration.stripe[:publishable_key], description: 'Your Loftly Subscription', amount: '3000', email: @user.email, plan: @plan}}
          %label.amount
          %span $30.00 monthly
