/ Set your preferences
/ Get notified of new listings
/ Be first in line
/ Finalize your subscription
#homepage
  %h1#logo.centered Loftly
  #scroll.centered
    %p Scroll Down
    = render 'shared/chevron_down.svg'
.row
  .small-12.columns
  %hr
  %hr
  %hr
